.Card-App{

    position: relative;
    z-index: 1;
    margin: 32px auto;
    max-width: 400px;
    height: 420px;
    perspective: 1000px;
    border-color: blue;
    background: white;

}
.Card-Image{
    max-width: 100%;
    max-height: 80%;
    margin-top: 32px;

}
.Card-Text{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 4px;
    font-size: calc(5px + 3vmin);

}