:root {
    --mainColor: #081f24;
  }
  
.navbarB{
    background-color: transparent;
   background: transparent;
   border-color: transparent;
}

/*.navApp{
    color: black;
    font-size: 120%;
    /*padding: 12px;
    font-family: sans-serif;
    
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;*/
.navApp{
    color: #081f24;

    font-size: bold;
    padding: 8px;
    font-family: sans-serif;
    display: inline-block;
    /*overflow: hidden;*/
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;
    transition: background-size .5s;
}
.navApp:hover{
    color: #f1f2f2;
    background-size: 1px 100%;
    text-decoration: none
}

.nav-link{
    font-weight: 500;
}
.nav-link:hover{
    color:#03d277 !important;
}
.navbar-brand{
    color:#03d277 !important;
    font-weight: bold;
}
/*.navApp:hover{
    /*color: #305e8a;*/
    /*color: white;*/
    /*background: rgb(0, 0, 0);*/
    /*text-decoration: none*/